@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-1{
   color:  rgba(19, 19, 19, 1);
}
.dark-2{
    color: rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}
.display-flex{
    display: flex;
}
.primary-button{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 8px;
    padding: 20px;
    border: none;
    font-size: 1.25rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav bar */
.nav-links{
    padding: 10px; 
    color: black;          
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.nav-bar{
    justify-content: space-around;
    align-items: center;
}
.nav-bar, .banner{
    max-width: 1920px;
    margin: 0 auto;
}
.brand-name{
    font-size: 3rem;
    font-weight: 700;
}

/* banner style */
.banner{
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
}
.banner-image{
    width: 100%;
}
.banner-button{
    text-align: center;
}
/* responsive media  */
@media screen and (max-width:575px){
    .display-flex{
        flex-direction: column;
    }   
    .nav-links{
        gap: 10px;
    } 
    .banner-content{
        padding: 20px;
    }
}

/* main style  */
.feature-title{
    font-size: 2.8rem;
}
.feature-description{
    font-size: 1rem;
}
.quick{
    font-weight: 600;
}
.of-our{
    font-weight: 700;
}
.features{
    color: rgba(255, 144, 14, 1);
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.teams{
    gap: 30px;
    align-items: center;
    margin: 50px auto;
}
@media screen and (max-width:575px) {
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        padding: 20px;
    }
}
 /* love-enjoy section style  */
#love-enjoy{
    border-left: 5px solid rgb(223, 103, 23);
}
.love-enjoy-title{
    font-size: 2.8rem;
    font-weight: 700px;
    padding: 20px;
}
.section-item{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgb(221, 219, 219);
    border-radius: 8px;
}
.love-enjoy-container{
    gap: 30px;
}
.love-enjoy{
    gap: 50px;
}
.experience-button{
    background-color: #FF900E;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    padding: 20px;
    margin-top: -100px;
    margin-left: -100px;
}
.exp-button{
    font-size: 1.6rem;
}
.love-enjoy-image{
        width: 100%;
}
/* some-facts style  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.facts{
    border: 1px solid tomato;
    border-radius: 8px;
    padding: 20px;
    width: 242px;
    height: 242px;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.some-facts{
    max-width: 1440px;
    margin: 0 auto;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 5px;
}
.fact-image{
    max-width: 45px;
    max-height: 45px;
}
/* Footer section style  */
.section-footer{
    background-color: rgba(255, 244, 231, 1);
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    align-content: center;
}
.sponsor-image-container{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.sponsors{
    max-width: 1440px;
    margin: 0 auto;
}
.sponsor-content{
    max-width: 542px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    align-content: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-description{
    font-size: 1rem;
}
.facts-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.facts-description{
    font-size: 1rem;
}
.sponsor-image-container{
    filter: grayscale(100%);
}
@media screen and (max-width:575px) {
    .sponsor-image-container{
        flex-direction: column;
        gap: 20px;
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding: 50px;
    }
    .facts-content{
        padding: 50px;
    }
    .experience-button{
        margin-top: -100px;
        margin-left: 0;
    }
}